<%= image_tag("nkc_equine_text.jpg", alt: "NKC Equestrian", class: "home-image")%>
<div class="center jumbotron">
	
	<p>Happy horses and confident riders</p>

	<p>Want to achieve more with your horse? Improve your competition results</p>

	<%= link_to(image_tag("EVENT_RIDERS.jpg", alt: "Event Riders", class: "homepage-course"), event_rider_clinics_path) %>
	<%= link_to(image_tag("HORSE_ANATOMY_COURSE.jpg", alt: "Horse Anatomy Course", class: "homepage-course"), horse_anatomy_path) %>
	<%= link_to(image_tag("HORSE_FIRST_AID.jpg", alt: "Horse First Aid", class: "homepage-course"), equine_first_aid_courses_path) %>
	<%= link_to(image_tag("PRACTICAL_FIRST_AID.jpg", alt: "Practical First Aid", class: "homepage-course"), equine_first_aid_courses_path) %>

	<p>Nicola is an experienced instructor with over 15 years teaching experience
	<ul id="home_bullet">
		<li>BHS Accredited coach</li>
		<li>BD trainee judge</li>
		<li>Classically trained</li>
		<li>Insuranced</li>
		<li>First aid trained</li>
	</ul>
	</p>

	<%= image_tag("nkc_06.png", alt: "NKC Equestrian Training", class: "small_pic") %>	

	<p>I offer riding lessons for all ages and abilities.</p>

</div>

<h3>What our clients say about us</h3>
<div class="user-quote-pic">
	<%= image_tag 'anne_marie.jpg', alt: "Annie Marie", class: "img-responsive user-img img-circle"%>
	<br>
	<p><i>"I now have a torch in my horsey first aid kit"</i></p>
	<p>Anne-Marie, Aldermaston</p>
</div>

<div class="user-quote-pic">
	<%= image_tag 'lottie.jpg', alt: "Lottie", class: "img-responsive user-img img-circle" %>
		<br>
		<p class="user-quote"><i>"Really handy to be able to check information easily on my phone"</i></p>
		<p>Lottie, Cirencester</p>
</div>

<div class="user-quote-pic">
	<%= image_tag 'jo.jpg', alt: "Jo", class: "img-responsive user-img img-circle" %>
	<br>
	<p><i>"I now monitor temperature for new horses on our yard"</i></p>
	<p>Jo, Reading</p>
</div>
	

