<%= image_tag("nkc_equine_text.jpg", alt: "NKC Equestrian", class: "home-image")%>
<div class="center jumbotron">

	<%= link_to(image_tag("HORSE_FIRST_AID.jpg", alt: "Horse First Aid", class: "homepage-course"), equine_first_aid_courses_path) %>
	<%= link_to(image_tag("HORSE_ANATOMY_COURSE.jpg", alt: "Horse Anatomy Course", class: "homepage-course"), horse_anatomy_path) %>
	<%= link_to(image_tag("PRACTICAL_FIRST_AID.jpg", alt: "Practical First Aid", class: "homepage-course"), practical_first_aid_path) %>
	<%= link_to(image_tag("EVENT_RIDERS.jpg", alt: "Event Riders", class: "homepage-course"), event_rider_clinics_path) %>

	<p>We want help owners make the best decisions for their horses, by providing access to the best training, with the most updated information from industry experts.</p>
	<p>Nicola Kinnard-Comedie BHSAI MSc Founder of NKC Equestrian Training</p>

</div>

<h3>What our clients say about us</h3>
<p>Julie Yeates</p>
<p><i>
"I would like to say a massive thank you to Nicola , NKC Equestrian Training for organising such a brilliant day.</br> 
I attended the first Equine First Aid course in November and couldn't wait to attend the second one.</br>
Dr Chris Baldwin was brilliant too and although there were lots of long medical words to get your head round, let alone your tongue, it was all explained so clearly.</br>
I can't recommend these courses enough. How we deal with sick or injured horses constantly changes and it is a great way to keep up.</br>
Thank you once again Nicola for putting on these courses and I look forward to attending more in the future."
</i></p>

<br>

<p>Sam Taw</p>
<p><i>
"My friend and I attended the Equine First Aid course in Southampton on Sunday 25th February and thoroughly enjoyed it.</br>
Very informative and interesting and followed up with an email containing further information.</br>
Looking forward to attending the next course in April."
</i></p>	


<br>

<p>Sian Tabberer</p>
<p><i>
"Really enjoyed the Horse First Aid Course, really informative and have come away with lots of helpful advice."
</i></p>

<br>